.footer {
  display: flex;
  text-align: center;
  background-color: #2ab2af;
  padding: 2em 0;
  color: white;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &__container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-weight: 400;
  }
  &__content {
    padding: 1em;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
  }
}
