.hero {
  display: flex;
  margin: 2em 2em;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container img {
  display: flex;
  width: 293px;
  height: 292px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.hero-container p {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.4;
  color: #117799;
}
.hero-container span {
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #117799;
}
.hero-container button {
  width: 163px;
  height: 50px;
  left: 71px;
  top: 556px;
  border: none;
  background: #5cac0e;
  border-radius: 15px;
  color: white;
}
