@import "./mixins";

body {
  background-color: rgb(247, 250, 252);
}

.rcipe-page {
  display: flex;
  background-color: white;
  margin: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  width: 70vw;
  color: rgb(35, 55, 72);

  .recipe-header {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    border-bottom: 2px solid rgba(9, 30, 66, 0.13);
    .header-content {
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      width: 50%;

      .recipe-title {
        letter-spacing: 0.25em;
        margin-bottom: 1em;
        overflow: hidden;
        word-break: break-word;
        font-size: 1.5em;
        font-weight: 700;
      }

      .recipe-summary {
        margin: 1em;

        font-weight: 500;
        font-size: 1.25em;
        white-space: pre-line;
        line-height: 2;
        word-break: break-word;
      }
      .recipe-time {
        font-size: 1.4em;
        letter-spacing: 0.25em;
      }
    }
  }
  .ingre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .ingre-title {
      letter-spacing: 0.2em;
      margin-bottom: 1.5em;
      overflow: hidden;
      word-break: break-word;
      font-size: 1.5em;
      font-weight: 700;
    }
    .ingre-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      padding: 2em;
    }
    .btn {
      border-radius: 50%;
      color: red;
    }
    .ingre-list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5em;
      font-size: 1em;
      font-weight: 700;
      box-shadow: $box-shadow;
      width: 40%;
      .ingre-item {
        display: flex;
        padding: 0.5em;
        span {
          margin-left: 0.25em;
        }
      }
    }
    .addTo {
      margin-top: 1em;
      font-size: 1em;
      width: 163px;
      height: 50px;
      border: none;
      background: #5cac0e;
      border-radius: 15px;
      color: white;
    }
  }
  .intruction {
    display: flex;
    flex-direction: column;
    padding: 3em;
    .title {
      letter-spacing: 0.2em;
      margin-bottom: 1.5em;
      overflow: hidden;
      word-break: break-word;
      font-size: 1.5em;
      font-weight: 700;
    }
    .stepNum {
      color: rgb(113, 127, 148);
      font-size: 1.5em;
      padding-bottom: 1em;
      font-weight: 700;
    }
    .step {
      margin: 1em;

      font-weight: 500;
      font-size: 1.25em;
      white-space: pre-line;
      line-height: 2;
      word-break: break-word;
    }
  }
}
